<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF">  
        <Properties>
        <Property name="logPath">VCAssistantLogs</Property>
        <Property name="rollingFileName">vectorcastassistant</Property>
    </Properties>
    <appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36} : %msg%n"/>  
        </Console>  

        <RollingFile name="rollingFile" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36} : %msg%n"/>  
            <Policies>
                <!-- Causes a rollover once the date/time pattern no longer applies to the active file. Interval=1 everyday -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </appenders> 
    <loggers>  
        <root level="all">  
            <appender-ref ref="Console"/> 
            <appender-ref ref="rollingFile" /> 
        </root>  
    </loggers>  
</configuration>  